/*------------------------------------ Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Newsreader&family=Roboto:wght@400;700&display=swap');

/*------------------------------------ Colors*/
.bg-color-heading {
    background-color: #3B4856;
}

.menu-bg-home {
    background-color: #3498DB;
}

.menu-bg-resume {
    background-color: #EA6A4F;
}

.menu-bg-contact {
    background-color: #00A78A;
}

.menu-bg-interests {
    background-color: #3498DB;
}

.menu-bg-github {
    background-color: #EA6A4F;
}

.menu-bg-download {
    background-color: #E168A0;
}

.bg-reasons {
    background-color: #fff;
}

.bg-resume {
    background-color: #ea694f10;
}

.bg-personal {
    background-color: #3498DB10;
}

.bg-contact {
    background-color: #fff;
}

/*------------------------------------ General Settings*/

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f2f2f2;
    color: #020202;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    color: #3B4856;
    text-align: center;
}

.uppercase {
    text-transform: uppercase;
}

.general-sub {
    font-family: 'Newsreader', serif;
    color: #f2f2f2;
}
.general-sub ~ p, ul {
    text-align: center;
}

.row-table {
    display: table;
}

.section-column {
    display: table-cell;
    padding: 0 30px 30px;
    float: none;
}

.history-heading,
.section-heading {
    font-family: 'Newsreader', serif;
    margin: 25px auto 40px auto;
}

/*------------------------------------ Header & Nav*/
header {
    margin: 0;
}

.heading {
    padding: 3%;
    height: 240px;
}

.logo {
    background: url(../images/resume.jpg) no-repeat center;
    background-size: cover;
    min-height: 360px;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
}

.name {
    font-family: 'Newsreader', serif;
    color: #fff;
    font-size: 4rem;
}

.title {
    font-family: 'Roboto', sans-serif;
    color: #f2f2f2;
    font-size: 2rem;
}

.nav-list-container {
    font-size: 0;
}

#nav {
    margin: 0;
}

#nav>li {
    margin: 0;
    font-size: 14px;
    position: relative;
    padding: 30px 0;
}

.menu-item {
    text-align: center;
}

.menu-item a {
    text-decoration: none;
    color: #f2f2f2;
    display: inline-block;
}

.menu-item a i {
    font-size: 29px;
    display: block;
    padding-bottom: 10px;
}

.menu-item span {
    text-transform: uppercase;
    letter-spacing: 2px;
}

/*------------------------------------ Hover.css*/

.hvr-sweep-to-bottom:before {
    background-color: rgba(0, 0, 0, 0.3);
}

/*------------------------------------ Footer*/

footer {
    background-color: #3B4856;
    min-height: 120px;
    margin: 0;
    padding: 20px;
}

footer h5 {
    padding-bottom: 5px;
}

.cv-pdf i {
    font-size: 20px;
    color: #f2f2f2;
    padding-left: 5px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.cv-pdf i:hover {
    color: #3498DB;
}

.social-links li a i {
    margin: 0 5px;
    width: 2rem;
    height: 2rem;
    padding: 1rem 0;
    border-radius: 50%;
    font-size: 1rem;
    line-height: 1px;
    text-align: center;
    color: #f2f2f2;
    background-color: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    color: #3498DB;
    background-color: white;
}

/* Reasons section*/

.reasons-icon {
    font-size: 26px;
    color: #3498DB;
}

.reasons-heading {
    margin-bottom: 15px;
    text-align: justify;
}

.reasons-heading ~ p{
    text-align: justify;
}

/* Personal Info section*/

.personal-info {
    margin-bottom: 20px;
    display: block;
    clear: both;
}

.personal-info .key,
.personal-info .value {
    padding-right: 8px;
    display: inline-block;
}

.personal-info .key p,
.personal-info .value p {
    margin: 0;
}

.personal-info .key {
    width: 30%;
    margin-right: 21px;
    padding-top: 2px;
    vertical-align: top;
}

.personal-info .key p {
    font-weight: bold;
}

.personal-info .value {
    position: relative;
    width: 60%;
}

/* Progress bar*/

.progress {
    position: relative;
    height: 25px;
    margin-bottom: 4px;
}

.progress-section {
    margin: 40px;
}

.progress-type {
    font-weight: 700;
}

/*Focus settings*/

#element-focus:focus {
    outline: none;
    /* Remove the focus outline */
}

/*Focus settings*/
.history-heading {
    margin-bottom: 50px;
}

.timeline-item {
    padding: 0em 2em 2em 2em;
    position: relative;
    border-left: 1px solid #3B485680;
    text-align: justify;
}

.timeline-item h4, p{
    text-align: justify;
}

.timeline-item p {
    margin: 0;
}


.timeline-item::before {
    content: attr(data-dates);
}

.timeline-item::after {
    width: 11px;
    height: 11px;
    border-radius: 11px;
    content: '';
    background-color: #3B485690;
    display: block;
    top: 5px;
    position: absolute;
    left: -6px;
}

h4 {
    font-weight: bold;
}

/*Contact Section*/
.contact-heading {
    font-family: 'Newsreader', serif;
    margin-top: 25px;
    margin-bottom: 20px;
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

button[type='submit'] {
    margin-top: 15px;
    margin-bottom: 20px;
    border-radius: 15px;
    background-color: #3498DB;
    color: #fff;
    border: 1px solid #3498DB;
}

/*Media Queries Section*/

/*Contact Section*/

@media(min-width: 992px) {
    .center-form {
        padding-top: 30px;
        min-height: 240px;
        margin: 0 auto;
        max-width: 50%;
    }
}