/*------------------------------------ Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Newsreader&family=Roboto:wght@400;700&display=swap');

/*------------------------------------ Colors*/
.bg-color-heading {
    background-color: #3B4856;
}

.menu-bg-home {
    background-color: #3498DB;
}

.menu-bg-resume {
    background-color: #EA6A4F;
}

.menu-bg-contact {
    background-color: #00A78A;
}

.menu-bg-download {
    background-color: #E168A0;
}

/*------------------------------------ General Settings*/

body {
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

.general-sub {
    font-family: 'Newsreader', serif;
    color: #f2f2f2;
}

/*------------------------------------ Header & Nav*/
header {
    margin: 0;
}

.heading {
    padding: 25px 20px;
    height: 240px;
}

.logo {
    background: url(../images/resume.jpg) no-repeat center;
    background-size: cover;
    min-height: 360px;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
}

.name {
    font-family: 'Newsreader', serif;
    color: #fff;
    font-size: 4rem;
}

.title {
    font-family: 'Roboto', sans-serif;
    color: #f2f2f2;
    font-size: 2rem;
}

.nav-list-container {
    font-size: 0;
}

#nav {
    margin: 0;
}

#nav>li {
    margin: 0;
    font-size: 14px;
    position: relative;
    padding: 30px 0;
}

.menu-item {
    text-align: center;
}

.menu-item a {
    text-decoration: none;
    color: #f2f2f2;
    display: inline-block;
}

.menu-item a i {
    font-size: 29px;
    display: block;
    padding-bottom: 10px;
}

.menu-item span {
    text-transform: uppercase;
    letter-spacing: 2px;
}

/*------------------------------------ Hover.css*/

.hvr-sweep-to-bottom:before {
    background-color: rgba(0, 0, 0, 0.3);
}

/*------------------------------------ Footer*/

footer {
    background-color: #3B4856;
    min-height: 120px;
    margin: 0;
}

.cv-pdf i {
    font-size: 20px;
    color: #f2f2f2;
    padding-left: 5px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.cv-pdf i:hover {
    color: #3498DB;
}